<p *ngIf="successmessage" class="alert alert-success text-center error">{{successmessage}}</p> 
<p *ngIf="failuremessage" class="alert alert-danger text-center error">{{failuremessage}}</p> 
<div class="container">
    <h1 class="h2 py-4 text-center"> Update Patient Screen </h1> 
    <div class="row justify-content-center">
          <div class="col-12 col-md-6">
          <div class="card-body text-center">
                    <form [formGroup]="getpatientform" (ngSubmit)="getpatient()">
                        <div class="form-group font-weight-bold">
                          <label for="email">Patient ID <span class="text-danger font-weight-bold mx-1">*</span></label>
                          
                          <input type="text"  class="form-control" formControlName="ws_pat_id" required>
                          <span class="text-danger" *ngIf="getpatientform.controls.ws_pat_id.dirty && getpatientform.controls.ws_pat_id.errors">*This is required</span>
                        
                        </div>
                        
                        
                        <button type="submit" class="btn btn-warning mt-md-3" [disabled]="!getpatientform.valid">GET</button>

                    </form>
                  </div>
          </div>
    </div>
<div class="row justify-content-center ">
    <div class="col-12 col-md-8">
            
    <div class="card-body">
      <form [formGroup]="updatepatientform" (ngSubmit)="updatepatient()">
            <div class="form-group row font-weight-bold my-0 font-weight-bold">
            <div class="col-md-6 col-12 my-1">
                    <label for="email">Patient ID <span class="text-danger font-weight-bold mx-1">*</span></label>
                    
                    <input type="text"  class="form-control" formControlName="ws_pat_id" readonly required>
                  </div>
          <div class="col-md-6 col-12 my-1">
            <label for="email">Patient SSN <span class="text-danger font-weight-bold mx-1">*</span></label>
            
            <input type="text"  class="form-control" formControlName="ws_pat_ssn" required>
            <span class="text-danger" *ngIf="updatepatientform.controls.ws_pat_ssn.dirty && updatepatientform.controls.ws_pat_ssn.errors">*This is required</span>
                        
            </div>
          </div>
          <div class="form-group row font-weight-bold my-0">
          <div class="col-md-6 col-12 my-1">
            <label for="">Patient name <span class="text-danger font-weight-bold mx-1">*</span></label>
            
            <input type="text"  class="form-control" formControlName="ws_pat_name" required>  
            <span class="text-danger" *ngIf="updatepatientform.controls.ws_pat_name.dirty && updatepatientform.controls.ws_pat_name.errors">*This is required</span>
                      
          </div>
          <div class="col-md-6 col-12 my-1">
            <label for="Patinet Age">Patient Age <span class="text-danger font-weight-bold mx-1">*</span></label>
            
            <input type="number"  class="form-control" formControlName="ws_pat_age" required>  
            <span class="text-danger" *ngIf="updatepatientform.controls.ws_pat_age.dirty && updatepatientform.controls.ws_pat_age.errors">*This is required</span>
             
          </div>
          </div>
           <div class="form-group row font-weight-bold my-0">
              <div class="col-md-6 col-12 my-1">
                <label for="password">Date of Admission <span class="text-danger font-weight-bold mx-1">*</span></label>
                
                <input type="date"  class="form-control" formControlName="ws_pat_dob" required>  
                <span class="text-danger" *ngIf="updatepatientform.controls.ws_pat_dob.dirty && updatepatientform.controls.ws_pat_dob.errors">*This is required</span>
             
              </div>
          <div class="col-md-6 col-12 my-1">
            <label for="password">Type of Bed <span class="text-danger font-weight-bold mx-1">*</span></label>
            
            <select formControlName="ws_pat_type" class="form-control">
                <option >--Select type of Bed--</option>
                <option *ngFor="let bed of bedtype; let j = index" value="{{bed}}">{{bed}}</option>
              </select>   
          </div>
          </div>
          <div class="form-group row font-weight-bold my-0">
          <div class="col-md-6 col-12 my-1">
            <label for="password">Patient Address <span class="text-danger font-weight-bold mx-1">*</span></label>
            
            <input type="text"  class="form-control" formControlName="ws_pat_adrs" required>  
            <span class="text-danger" *ngIf="updatepatientform.controls.ws_pat_adrs.dirty && updatepatientform.controls.ws_pat_adrs.errors">*This is required</span>
             
          </div>
          <div class="col-md-6 col-12 my-1">
            <label for="password">Patient State <span class="text-danger font-weight-bold mx-1">*</span></label>
            
            <select formControlName="ws_pat_state" class="form-control" (change)="onChangeState($event.target.value)">
                <option >--Select State--</option>
                <option *ngFor="let state of stateInfo; let j = index" value="{{j}}">{{state.StateName}}</option>
              </select>  </div>
              </div>
          <div class="form-group row font-weight-bold my-0">
          <div class="col-md-6 col-12 my-1">
            <label for="select">Patient City <span class="text-danger font-weight-bold mx-1">*</span></label>
            
            
                <select formControlName="ws_pat_city" class="form-control">
                    <option >--Select CIty--</option>
                  <option *ngFor="let city of cityInfo; let k = index" value="{{city}}">{{city}}</option>
                </select>  
            </div> 
            <div class="col-md-6 col-12 my-1">
                    <label for="select">Patient Status <span class="text-danger font-weight-bold mx-1">*</span></label>
                    
                    
                        <select formControlName="ws_pat_status" class="form-control">
                            <option >--Select Status--</option>
                          <option *ngFor="let s of status; let k = index" value="{{s}}">{{s}}</option>
                        </select>  
                    </div> 
            </div>
            <div class="form-group row font-weight-bold my-0">
              <div class="col-md-6 col-12 my-1">
                <label for="password"> Date of Discharge <span class="text-danger font-weight-bold mx-1">*</span></label>
                
                <input type="date"  class="form-control" formControlName="ws_pat_dod" required>  
                <span class="text-danger" *ngIf="updatepatientform.controls.ws_pat_dod.dirty && updatepatientform.controls.ws_pat_dod.errors">*This is required</span>
             
              </div>
              </div>
      
          <button type="submit" class="btn btn-warning mt-md-3" [disabled]="!updatepatientform.valid">Submit</button>

      </form>
    </div>
    </div>
</div>
</div>
