
<div class="section container">
    <h2 class="py-2"> Quick Actions </h2>
        <div class="container my-4 quick_actions">
        <h4 class="my-4 text-dark h4"> Patient Management </h4>
                <div class="row">
                       <div class="col col-md-3 col-12">
                                <div class="card text-left">
                                  <img class="card-img-top" src="holder.js/100px180/" alt="">
                                  <div class="card-body">
                                    <h6 class="card-title">Add New Patient</h6>
                                    <a name="" id="" class="btn btn-primary my-3 btn-sm px-4 view_btn" routerLink="/cash/addpatient" role="button">View</a>
                                  </div>
                                </div>
                       </div>
                       <div class="col col-md-3 col-12">
                                <div class="card text-left">
                                  <img class="card-img-top" src="holder.js/100px180/" alt="">
                                  <div class="card-body">
                                    <h6 class="card-title">Edit Existing Patient</h6>
                                    <a name="" id="" class="btn btn-primary my-3 btn-sm px-4 view_btn" routerLink="/cash/updatepatient" role="button">View</a>
                                  </div>
                                </div>
                       </div>
                       <div class="col col-md-3 col-12">
                                <div class="card text-left">
                                  <img class="card-img-top" src="holder.js/100px180/" alt="">
                                  <div class="card-body">
                                    <h6 class="card-title">Delete Patient</h6>
                                    <a name="" id="" class="btn btn-primary my-3 btn-sm px-4 view_btn" href="" role="button">View</a>
                                  </div>
                                </div>
                       </div>
                       <div class="col col-md-3 col-12">
                                <div class="card text-left">
                                  <img class="card-img-top" src="holder.js/100px180/" alt="">
                                  <div class="card-body">
                                    <h6 class="card-title">View Patients status</h6>
                                    <a name="" id="" class="btn btn-primary my-3 btn-sm px-4 view_btn" href="" role="button">View</a>
                                  </div>
                                </div>
                       </div>
                </div>
                
        </div>
        
        
</div>


<div class="section container my-4">
    <h2 class="py-2"> Quick Search </h2>
        <div class="container my-4 quick_actions text-center">
            <div class="row justify-content-center my-3">
                <div class="col-md-4 col-12 ">
                    <div class="form-group text-left">
                        <label for="">Patient SSN Id</label>
                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">Help text</small>
                    </div>
                </div>
                <div class="col-md-1 col-12">
                    <p class="text-center text-warning font-weight-bold"> or </p>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-group text-left">
                        <label for="">Patient Id</label>
                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">Help text</small>
                    </div>
                </div>
            </div>
            <a name="" id="" class="text-center btn-sm btn btn-secondary" href="#" role="button">Search</a>
        </div>  
</div>

<!--Footer -->

<footer class="section footer-classic bg-dark ">

  

  <div class="row container-fluid  mx-0 justify-content-center text-center ">
        <div class="col-md-6 col-12 mt-md-0 mt-md-3  text-center">
            <div class="footer-copyright py-3 text-white">
                Copyright©:All rights reserved by <span class="text-warning">HMS</span>
            </div>
        </div>
        <div class="col-md-6 col-12 mt-md-0 mt-md-3 mt-0">
            <div class="font-weight-bold  pt-3 text-white text-warning">Contact Us :<a href="tel:999999999" class="text-white"> 99999999999</a></div>
        </div>
  </div>
  

</footer>
