<div class="container">
    <h1 class="h2 py-4 text-center"> Patient Billing</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card-body text-center">
                <form [formGroup]="getpatientform" (ngSubmit)="getpatient()" (ngSubmit)="getallpatientmedicines()"
                    (ngSubmit)="getallpatientdiagnostics()">
                    <div class="form-group font-weight-bold">
                        <label for="email">Patient ID <span class="text-danger font-weight-bold mx-1">*</span></label>

                        <input type="text" class="form-control" formControlName="ws_pat_id" required>
                    </div>


                    <button type="submit" class="btn btn-warning mt-md-3"
                        [disabled]="!getpatientform.valid">Search</button>

                </form>
            </div>
        </div>
    </div>
</div>
<p *ngIf="failuremessage!=null" class="alert alert-danger text-center error">{{failuremessage}}</p>
<div *ngIf="p!=null" class="panel panel-primary container px-0 my-4">
    <div class="panel-heading">
        <h2>Patient Details</h2>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-dark" border=1>
            <thead>
                <tr>
                    <th scope="col">Patient ID</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Address</th>
                    <th scope="col">DOJ</th>
                    <th scope="col">Discharge</th>
                    <th scope="col">Bed Type</th>
                    <th scope="col">No. of Days</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngIf="p==null" scope="row">
                    <td colspan=7>
                        <h1 class="text-center">No Records Found</h1>
                    </td>
                </tr>
                <tr>

                    <td>{{p.ws_pat_id}}</td>
                    <td>{{p.ws_pat_name}}</td>
                    <td>{{p.ws_pat_age}}</td>
                    <td>{{p.ws_pat_adrs}}</td>
                    <td>{{p.ws_pat_dob}}</td>
                    <td>{{p.ws_pat_dod}}</td>
                    <td>{{p.ws_pat_type}}</td>
                    <td>{{p.ws_pat_nod}}</td>
                    <!--td><button (click)="deletePatientById(p.ws_pat_id)"   class="btn btn-danger btn-sm">Delete</button>
  
                <button  class="btn btn-info btn-sm" style="margin-left: 10px">Details</button>
            </td-->
                </tr>


            </tbody>
        </table>
        <p>Bill for Room : {{rt}}</p>
    </div>
</div>


<p *ngIf="failuremsgmed!=null" class="alert alert-danger text-center error">{{failuremsgmed}}</p>
<div *ngIf="pmed!=null" class="panel panel-primary container px-0 my-4">
    <div class="panel-heading">
        <h2>Medicine Details</h2>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-dark" border=1>
            <thead>
                <tr>
                    <th scope="col">Medicine Name</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngIf="pmed==null" scope="row">
                    <td colspan=7>
                        <h1 class="text-center">No Records Found</h1>
                    </td>
                </tr>
                <tr *ngFor="let p of pmed">

                    <td>{{p.ws_med_name}}</td>
                    <td>{{p.ws_med_rate}}</td>
                    <td>{{p.ws_med_qty}}</td>
                    <td>{{p.ws_med_amt}}</td>
                
                    <!--td><button (click)="deletePatientById(p.ws_pat_id)"   class="btn btn-danger btn-sm">Delete</button>
  
                <button  class="btn btn-info btn-sm" style="margin-left: 10px">Details</button>
            </td-->
                </tr>


            </tbody>
        </table>
        <p>Medicine Total={{mt}}</p>
    </div>
</div>

<p *ngIf="failuremsgdiag!=null" class="alert alert-danger text-center error">{{failuremsgdiag}}</p>
<div *ngIf="pdiag!=null" class="panel panel-primary container px-0 my-4">
    <div class="panel-heading">
        <h2>Diagnostic Details</h2>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-dark" border=1>
            <thead>
                <tr>
                    <th scope="col">Name of the Test</th>
                    <th scope="col">Charges</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngIf="pdiag==null" scope="row">
                    <td colspan=7>
                        <h1 class="text-center">No Records Found</h1>
                    </td>
                </tr>
                <tr *ngFor="let p of pdiag">

                    <td>{{p.ws_diag_name}}</td>
                    <td>{{p.ws_diag_amt}}</td>
                
                    <!--td><button (click)="deletePatientById(p.ws_pat_id)"   class="btn btn-danger btn-sm">Delete</button>
  
                <button  class="btn btn-info btn-sm" style="margin-left: 10px">Details</button>
            </td-->
                </tr>
               

            </tbody>
        </table>
        <p>Diagnostics Total={{dt}}</p>
        <p>Grand Total : {{rt+mt+dt}}</p>

    </div>
</div>