<p *ngIf="successmessage" class="alert alert-success text-center error">{{successmessage}}</p> 
<p *ngIf="failuremessage" class="alert alert-danger text-center error">{{failuremessage}}</p> 
<div class="container">
    <h1 class="h2 py-4 text-center"> Delete Patient Screen </h1> 
    <div class="row justify-content-center">
          <div class="col-12 col-md-6">
          <div class="card-body text-center">
                    <form [formGroup]="getpatientform" (ngSubmit)="getpatient()">
                        <div class="form-group font-weight-bold">
                          <label for="email">Patient ID <span class="text-danger font-weight-bold mx-1">*</span></label>
                          
                          <input type="text"  class="form-control" formControlName="ws_pat_id" required>
                        </div>
                        
                        
                        <button type="submit" class="btn btn-warning mt-md-3" [disabled]="!getpatientform.valid">GET</button>

                    </form>
                  </div>
          </div>
    </div>
<div class="row justify-content-center text-center">
    <div class="col-12 col-md-6">
            
    <div class="card-body">
      <form [formGroup]="deletepatientform" (ngSubmit)="deletepatient()">
            <div class="form-group row font-weight-bold my-0 font-weight-bold">
            <div class="col-md-6 col-12 my-1">
                    <label for="email">Patient ID <span class="text-danger font-weight-bold mx-1">*</span></label>
                    
                    <input type="text"  class="form-control" formControlName="ws_pat_id" readonly required>
                  </div>
          <div class="col-md-6 col-12 my-1">
            <label for="email">Patient SSN <span class="text-danger font-weight-bold mx-1">*</span></label>
            
            <input type="text"  class="form-control" formControlName="ws_pat_ssn" required readonly>
            </div>
          </div>
           <div class="form-group row font-weight-bold my-0">
          <div class="col-md-6 col-12 my-1">
            <label for="">Patient name <span class="text-danger font-weight-bold mx-1">*</span></label>
            
            <input type="text"  class="form-control" formControlName="ws_pat_name" required readonly>  
          </div>
          <div class="col-md-6 col-12 my-1">
            <label for="Patinet Age">Patient Age <span class="text-danger font-weight-bold mx-1">*</span></label>
            
            <input type="number"  class="form-control" formControlName="ws_pat_age" required readonly>  
          </div>
          </div>
           <div class="form-group  row font-weight-bold my-0">
           <div class="col-md-6 col-12 my-1">
            <label for="password">Date of Admission <span class="text-danger font-weight-bold mx-1">*</span></label>
            
            <input type="date"  class="form-control" formControlName="ws_pat_dob" required readonly>  
          </div>
          
          <div class="col-md-6 col-12 my-1">
            <label for="password">Patient Address <span class="text-danger font-weight-bold mx-1">*</span></label>
            
            <input type="text"  class="form-control" formControlName="ws_pat_adrs" required readonly> 
            </div> 
          </div>
          
            <div class="form-group row font-weight-bold my-0">
            <div class="col-md-6 col-12 my-1">
                    <label for="select">Patient Status <span class="text-danger font-weight-bold mx-1">*</span></label>
                    
                    
                        <select formControlName="ws_pat_status" class="form-control" readonly>
                            <option >--Select Status--</option>
                          <option *ngFor="let s of status; let k = index" value="{{s}}">{{s}}</option>
                        </select>  
                      </div>
                    </div> 
          
      
          <button type="submit" class="btn btn-danger mt-md-3" [disabled]="!deletepatientform.valid">Delete</button>

      </form>
    </div>
    </div>
</div>
</div>
